@using Microsoft.AspNetCore.Identity;
@using CoffeeShop.Models;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Razor Pages Sample</title>
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/materialize.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/css/stylesheet.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/materialize.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/css/stylesheet.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <nav class="blue-grey darken-4">
        <div class="nav-wrapper">
            <a asp-controller="Home" asp-action="Index" class="brand-logo left-align">NET Coffee</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                @await Component.InvokeAsync("ShoppingCartSummary")

                @if (SignInManager.IsSignedIn(User))
                {
                    <li><a href="#">About</a></li>
                    <li><a href="/Shopping">Shop</a></li>
                    <li><a href="#">Contact</a></li>
                    <li> Welcome, @User.Claims.First(name => name.Type == "FullName").Value</li>
                    <li><a href="../Account/Logout">Logout</a></li>
                }
                else
                {
                    <li><a href="/Account/Register">Register</a></li>
                    <li><a href="/Account/Login">Login</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/Shopping">Shop</a></li>
                    <li><a href="#">Contact</a></li>
                }
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="Shopping">Shop</a></li>
        <li><a href="#">Contact</a></li>
        <li><a asp-action="/Account/Register">Register</a></li>
        <li><a asp-action="/Account/Login">Login</a></li>
    </ul>
    <div class="container">
        <environment include="Development">
            <script src="~/js/materialize.js"></script>
            <script src="~/js/materialize.min.js"></script>
        </environment>

        <environment exclude="Development">
            <script src="~/js/materialize.js"></script>
            <script src="~/js/materialize.min.js"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </div>
    @RenderBody()
</body>
</html>