@model CoffeeShop.Models.Order
@{
    Layout = "_Layout"; 
}


<div class="row">
    <h3 class="center-align">To finish your order, please fill out this form</h3>
    <div class="container">
        <form asp-action="Checkout" method="post" class="center">
            <div class="input-field col s12">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" />
            </div>
            <div class="input-field col s12">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" />
            </div>
            <div class="input-field col s12">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
            </div>
            <div class="input field col s12">
                <select>
                    <option value="370000000000002">American Express</option>
                    <option value="6011000000000012">Discover</option>
                    <option value="3088000000000017">JCB</option>
                    <option value="38000000000006">Diners Club</option>
                    <option value="4007000000027">Visa</option>
                    <option value="5424000000000015">Mastercard</option>
                </select>
            </div>
            <button type="submit" class="btn-large">Complete Order</button>
            </div>  
          </form>
            
    </div>
    