@model List<CoffeeShop.Models.Coffee>
@using CoffeeShop.Models;


@{
    Layout = "_Layout";
}
<div class="container center-align">
    @foreach (var coffee in Model)
    {
    <div class="card">
        <img src="@Html.DisplayFor(itemPicture => coffee.URL)" class="card" />
    </div>
        
    }
</div>
  
    