@model List<CoffeeShop.Models.Coffee>
@using CoffeeShop.Models;

@{
    Layout = "_Layout";
}

@foreach (var item in Model)
{
    <h1><a asp-controller="Shopping" asp-action="Details" asp-route-id="@item.ID">@item.Name</a></h1>
}