@using Microsoft.AspNetCore.Identity;
@using CoffeeShop.Models;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;


@{
    Layout = "_Layout";
}

@if (SignInManager.IsSignedIn(User))
{
    <p>Welcome back, @User.Claims.First(name => name.Type == "FullName").Value</p>
}
else
{
    <div>
        <p>Welcome To NET Cafe.</p>
    </div>
}

<form>
    <select>
     <option value="370000000000002">American Express</option>
     <option value="6011000000000012">Discover</option>
     <option value="3088000000000017">JCB</option>
     <option value="38000000000006">Diners Club</option>
     <option value="4007000000027">Visa</option>
     <option value="5424000000000015">Mastercard</option>
 </select>
 <button type="submit">submit</button>


</form>



<form method="post">
<button type="submit">PAY ME</button>
</form>


