@using Microsoft.AspNetCore.Identity;
@using CoffeeShop.Models;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;


@{
    Layout = "_Layout";
}

@if (SignInManager.IsSignedIn(User))
{
    <p>Welcome back, @User.Claims.First(name => name.Type == "FullName").Value</p>
}
else
{
    <div>
        <p>Welcome To NET Cafe.</p>
    </div>
}
