@model CoffeeShop.Models.ViewModels.ExternalLoginViewModel
@{

    ViewData["Title"] = "ExternalLogin";
}

<h2>ExternalLogin</h2>

<form asp-action="ExternalLoginConfirmation" method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email" />

    <label asp-for="firstName"></label>
    <input asp-for="firstName" />

    <label asp-for="lastName"></label>
    <input asp-for="lastName" />


    // add claims collection

    <button type="submit">Register</button>


</form>