@model CoffeeShop.Models.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Identity;
@using CoffeeShop.Models;

@inject SignInManager<ApplicationUser> SignInManager


<div class="row">
    <div class="col s4">
        <section>
            <form method="post">
                <div asp-validation-summary="All" class="red-text"></div>

                <div class="input-field col s12">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="red-text"></span>
                </div>
                <div class="input-field col s12">
                    <label asp-for="Password"></label>
                    <input asp-for="Password">
                    <span asp-validation-for="Password" class="red-text"></span>
                </div>
                <button type="submit" class="btn">Log in</button>

            </form>
        </section>
    </div>
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@{
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

    if (loginProviders.Count > 0)
    {
        

        <form asp-action="ExternalLogin" method="post">
            @foreach (var provider in loginProviders)
            {
                <button  class="btn-small"type="submit" name="provider" value="@provider.Name" title="Log in using @provider.DisplayName"> @provider.Name</button>
            }
        </form>

    }
}

